<template>
  <div class="home">
    <div v-if="error">
      {{ error }}
    </div>
    <Suspense v-else>
      <template #default>
        <TeaList />
      </template>
      <template #fallback>
        <h3>Loading teas from database...</h3>
      </template>
    </Suspense>
  </div>
</template>

<script lang="ts">
import { defineComponent, onErrorCaptured, ref } from 'vue';
import TeaList from '@/components/TeaList.vue';

export default defineComponent({
  name: 'Home',

  components: {
    TeaList,
  },

  setup() {
    const error = ref();
    onErrorCaptured((e): true => {
      error.value = e;
      return true;
    });
    return { error };
  },
});
</script>
