<template>
  <div class="container">
    <div class="row">
      <div class="d-flex justify-content-center">
        <router-link :to="{ name: 'Home' }">&#11148; Home</router-link>
      </div>

      <div v-if="hasTeaInfo">
        <h3>{{ teaDetails.name }}</h3>
      </div>
      <h3 v-else>Loading tea info</h3>

      <div v-if="canAddSteeping">
        <h3>Add steeping</h3>
        <steeping-form :teaId="castTeaId"/>
      </div>

      <div v-if="teaSteepings">
        <h3>Steeping log</h3>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 justify-content-center g-4">
          <steeping-details v-for="(steeping, index) in teaSteepings"
          :steeping="steeping"
          :key="index"
          />
        </div>
      </div>
      <h3 v-else>No steepings yet</h3>
    </div>
  </div>
</template>

<style scoped>
</style>

<script lang="ts">
import { defineComponent, computed } from 'vue';
import { useRoute } from 'vue-router';
import Tea from '@/interfaces/Tea';
import Steeping from '@/interfaces/Steeping';
import isEmpty from 'lodash/isEmpty';
import SteepingForm from '@/components/SteepingForm.vue';
import SteepingDetails from '@/components/SteepingDetails.vue';
import { useStore } from 'vuex';
import api from '@/lib/Api';

export default defineComponent({
  components: {
    SteepingForm,
    SteepingDetails,
  },
  name: 'TeaDetails',
  setup() {
    const route = useRoute();
    const store = useStore();
    const teaId = Number(route.params.teaId);
    const teaSteepings = computed(() => store.getters.getSteepingsForTea(teaId));
    const addSteepings = (steepings: Steeping | Steeping[]) => store.commit('addSteepings', { teaId, steepings });
    const canAddSteeping = () => true;

    return {
      teaId,
      teaSteepings,
      addSteepings,
      canAddSteeping,
    };
  },

  data() {
    return {
      teaDetails: {} as Tea,
    };
  },

  computed: {
    castTeaId(): number {
      return Number(this.teaId);
    },
  },

  methods: {
    hasTeaInfo(): boolean {
      return isEmpty(this.teaDetails);
    },
  },

  async mounted(): Promise<void> {
    const info: Tea = await api.get(`api/teas/${this.teaId}`).json();
    this.teaDetails = info;
    const steepings: Steeping[] = await api.get(`api/teas/${this.teaId}/steepings`).json();
    this.addSteepings(steepings);
  },
});
</script>
