<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <form @submit.prevent="onSubmit" class="d-flex flex-column">
          <div class="my-2">
            <label for="amount">amount (g)
              <input id="amount"
                v-model.number.lazy="amount"
                type="number"
                autocomplete="off"
              />
            </label>
          </div>

          <div class="my-2">
            <label for="temperature">Temperature (*C)
              <input v-model.number.lazy="temperature"
                type="number"
                id="temperature"
                autocomplete="off"
              />
            </label>
          </div>

          <div class="my-2">
            <label for="steeping_time">Steeping time (s)
              <input v-model.number.lazy="steeping_time"
                type="number"
                id="steeping_time"
                autocomplete="off"
              />
            </label>
          </div>

          <div class="my-2">
            <label for="description">Description
              <input v-model.trim="description" type="text" id="description" autocomplete="on" />
            </label>
          </div>

          <div class="my-2">
            <label for="rating">Rating
              <input v-model.number.lazy="rating" type="number" id="rating" autocomplete="off" />
            </label>
          </div>

          <button type="submit" class="btn btn-primary my-2">Add log entry</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { useStore } from 'vuex';

export default defineComponent({
  setup() {
    const store = useStore();
    return { store };
  },

  props: {
    teaId: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      amount: 0,
      temperature: 90,
      steeping_time: 120,
      description: '',
      rating: 5,
    };
  },
  methods: {
    onSubmit() {
      const payload = {
        teaId: this.teaId,
        steeping: {
          rating: this.rating,
          temperature: this.temperature,
          steeping_time: this.steeping_time,
          description: this.description,
          tea_id: this.teaId,
          amount: this.amount,
        },
      };
      this.store.dispatch('addSteeping', payload);
    },
  },
});
</script>
