<template>
  <div class="card h-100 mx-2 p-2 shadow-sm">
    <div class="card-body d-flex flex-column align-items-start justify-content-start">
      <section class="db d-flex flex-row justify-between w-100">
        <p class="text-muted">ID: {{ steeping.id }}</p>
        <button @click="remove"
          title='Delete this steeping'
          >
          &#10060;
        </button>
      </section>

      <section class="main d-flex flex-row justify-center w-100">
        <p class="card-title">Rating: {{ steeping.rating }}/5</p>
      </section>

      <section class="main d-flex flex-row justify-center w-100 mb-4">
        <p class="card-text">
          {{ steeping.description ? steeping.description : "No description provided" }}
        </p>
      </section>

      <section class="meta d-flex flex-row justify-around w-100">
        <h6 class="card-subtitle mx-2 text-muted">Amount: {{ steeping.amount }} g</h6>
        <h6 class="card-subtitle mx-2 text-muted">
          Temperature: {{ steeping.temperature }}&#176;C
        </h6>
        <h6 class="card-subtitle mx-2 text-muted">Steeping time: {{ steeping.steeping_time }}s</h6>
      </section>
    </div>
  </div>
</template>

<script lang="ts">
import Steeping from '@/interfaces/Steeping';
import { defineComponent, PropType } from 'vue';
import { useStore } from 'vuex';

export default defineComponent({
  props: {
    steeping: {
      type: Object as PropType<Steeping>,
      required: true,
    },
  },

  setup(props) {
    const store = useStore();
    return { store, props };
  },

  methods: {
    remove() {
      const payload = {
        teaId: this.steeping.tea_id,
        steepingId: this.steeping.id,
      };

      this.store.dispatch('removeSteeping', payload);
    },
  },
});
</script>
