<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <form @submit.prevent="onSubmit" class="d-flex flex-column">
          <div class="my-2">
            <label for="teaName">Tea name
              <input v-model="teaName" type="string" id="teaName" autocomplete="off">
            </label>
          </div>

          <div class="my-2">
            <label for="teaCountry">Country
              <input v-model="teaCountry" type="string" id="teaCountry" autocomplete="off">
            </label>
          </div>

          <div class="my-2">
            <label for="teaDescription">Description
              <input v-model="teaDescription" type="string" id="teaDescription" autocomplete="off">
            </label>
          </div>

          <button type="submit" class="btn btn-primary my-2">Add tea</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { useStore } from 'vuex';

export default defineComponent({
  setup() {
    const store = useStore();
    return { store };
  },

  data() {
    return {
      teaName: '',
      teaCountry: '',
      teaDescription: '',
    };
  },

  methods: {
    onSubmit() {
      const payload = {
        tea: {
          name: this.teaName,
          country: this.teaCountry,
          description: this.teaDescription,
        },
      };

      this.store.dispatch('addTea', payload);
    },
  },
});
</script>
