<template>
  <div class="container">
    <div class="row row-cols-1 my-4">
      <h3>Click on a card below to go to tea details</h3>
    </div>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4
      align-items-start justify-content-center g-4">
      <TeaListItem
        v-for="(tea, index) in teas"
        :key="index"
        :tea="tea"
      />
    </div>

    <div class="row row-cols-1 my-4">
      <h3>Add tea</h3>
      <p>Fill out the form below to add a new tea to the database</p>
      <tea-form />
    </div>
  </div>
</template>

<script lang="ts">
import Tea from '@/interfaces/Tea';
import { defineComponent, computed } from 'vue';
import api from '@/lib/Api';
import { useStore } from 'vuex';
import TeaForm from './TeaForm.vue';
import TeaListItem from './TeaListItem.vue';

export default defineComponent({
  name: 'TeaList',

  components: { TeaListItem, TeaForm },

  async setup() {
    const store = useStore();

    const fetchedTeas: Tea[] = await api.get('api/teas').json();
    store.commit('addTea', fetchedTeas);

    const teas = computed(() => store.getters.getTeas());

    return {
      teas,
    };
  },
});
</script>
