<template>
  <div class="card h-100 mx-2 p-2 shadow-sm"
        @click.prevent="goToDetails"
        @keyup.enter="goToDetails"
        @mouseover="hovered = true"
        @focus="hovered = true"
        @mouseleave="hovered = false"
        @blur="hovered = false"
        :class="{'shadow-lg': hovered}">
    <div class="card-body d-flex flex-column align-items-start justify-content-start">
      <section class="db d-flex flex-row justify-between w-100">
        <p class="text-muted">ID: {{ tea.id }}</p>
        <button
          @click.prevent.stop="remove"
          title='Delete this tea'
          >
          &#10060;
        </button>
      </section>

      <section class="main d-flex flex-row justify-center w-100">
        <p class="card-title">{{ tea.name }}</p>
      </section>

      <section class="meta d-flex flex-row justify-around w-100">
        <h6 class="card-subtitle mx-2 text-muted">Country: {{ tea.country }}</h6>
      </section>
    </div>
  </div>
</template>

<script lang="ts">
import Tea from '@/interfaces/Tea';
import { defineComponent, PropType } from 'vue';
import { useRouter } from 'vue-router';
import { useStore } from 'vuex';

export default defineComponent({
  name: 'TeaListItem',

  props: {
    tea: {
      type: Object as PropType<Tea>,
      required: true,
      default: () => ({}),
    },
  },

  setup(props) {
    const store = useStore();
    const router = useRouter();
    const toggleShadow = (element: HTMLElement) => {
      element.classList.toggle('.shadow-lg');
    };
    const goToDetails = () => {
      router.push({ name: 'TeaDetails', params: { teaId: props.tea.id } });
    };

    return {
      store,
      goToDetails,
      toggleShadow,
    };
  },

  data() {
    return {
      hovered: false,
    };
  },

  methods: {
    remove() {
      const payload = {
        teaId: this.tea.id,
      };

      this.store.dispatch('removeTea', payload);
    },
  },
});
</script>
